<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <form class="max-w-lg w-full space-y-8" [formGroup]="formData">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-white" style="letter-spacing: 3px;">
        Add Your Findings
      </h2>
    </div>
    <div class="rounded-lg shadow-sm -space-y-px">
      <div>
        <label for="name" class="sr-only">Name</label>
        <input id="name" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Name" formControlName="name"/>
      </div>
      <div>
        <label for="age" class="sr-only">Age</label>
        <input id="age" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Age" formControlName="age"/>
      </div>
      <div>
        <label for="gender" class="sr-only">Gender</label>
        <select id="gender" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" formControlName="gender">
          <option value="" disabled selected>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div>
        <label for="area" class="sr-only">Area</label>
        <select id="area" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" formControlName="area">
          <option value="" disabled selected>Select Area</option>
          <option value="Area1">Area1</option>
          <option value="Area2">Area2</option>
          <option value="Area3">Area3</option>
        </select>
      </div>
      <div>
        <label for="medicalCondition" class="sr-only">Medical Condition</label>
        <select id="medicalCondition" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" formControlName="medicalCondition">
          <option value="" disabled selected>Select Medical Condition</option>
          <option value="Diabetes">Diabetes</option>
          <option value="Asthma">Asthma</option>
          <option value="Obesity">Obesity</option>
          <option value="Arthritis">Arthritis</option>
          <option value="Hypertension">Hypertension</option>
          <option value="Cancer">Cancer</option>
        </select>
      </div>
      <div class="flex items-center">
        <label for="date" class="sr-only">Date of Admission</label>
        <span class="w-1/3 px-3 py-2 bg-white border text-gray-900 rounded-bl-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">Date of Admission</span>
        <input id="date" type="date" class="w-2/3 appearance-none rounded-none relative block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-br-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" formControlName="date"/>
      </div>
    </div>
    <div>
      <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-lg text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" (click)="handleClick()">
        Submit
      </button>
    </div>
  </form>
</div>
