<div class="bg-inherit flex flex-col items-center min-h-screen max-h-max overflow-hidden">
  <h1 class = "mt-6 text-center text-3xl font-extrabold text-white"> Prediction for this Month by Area</h1>
  <app-bar></app-bar>
  <h1 class = "mt-6 text-center text-3xl font-extrabold text-white"> No. of Patients for Previous Month by Area</h1>
  <app-bar1></app-bar1>
  <button class="bg-gray-200 rounded border-green p-4 hover:bg-white mt-4 text-blue-600" [routerLink]="'/form'">Add your Findings</button>
</div>
