app-bar {
    background-color: white;
    margin: 5vh;
    padding: 1vh;
}

app-bar1 {
    background-color: white;
    margin: 5vh;
    padding: 1vh;
}

app-pie {
    background-color: white;
    margin: 5vh;
    padding: 1vh;
}