<nav class="bg-white py-4">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center">
      <div>
        <a href="#" class="text-blue-500 text-lg font-semibold">Logo</a>
      </div>
      <div class="md:flex items-center space-x-4">
        <a *ngIf="!isLoginPage()" routerLink="/dashboard" class="text-blue-500">Dashboard</a>
        <a *ngIf="!isLoginPage()" routerLink="/form" class="text-blue-500">Submit</a>
        <a *ngIf="!isLoginPage()" routerLink="/predict" class="text-blue-500">Predict</a>
        <a *ngIf="!isLoginPage()" routerLink="/logout" class="text-blue-500">Logout</a>
        <a *ngIf="isLoginPage()" routerLink="/" class="text-blue-500">Login</a>
      </div>
    </div>
  </div>
</nav>
