<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <form class="max-w-lg w-full space-y-8" [formGroup]="formData">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-white" style="letter-spacing: 3px;">
        Predict Your Condition
      </h2>
    </div>
    <div class="rounded-lg shadow-sm -space-y-px">
      <div>
        <label for="name" class="sr-only">Name</label>
        <input id="name" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Name" formControlName="name"/>
      </div>
      <div>
        <label for="age" class="sr-only">Age</label>
        <input id="age" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Age" formControlName="age"/>
      </div>
      <div>
        <label for="gender" class="sr-only">Gender</label>
        <select id="gender" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" formControlName="gender">
          <option value="" disabled selected>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div>
        <label for="area" class="sr-only">Area</label>
        <select id="area" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" formControlName="area">
          <option value="" disabled selected>Select Area</option>
          <option value="Area1">Area1</option>
          <option value="Area2">Area2</option>
          <option value="Area3">Area3</option>
        </select>
      </div>
    </div>
    <div>
      <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-lg text-white bg-blue-400 transition-colors hover:bg-blue-900 hover:border-white focus:outline-none focus:ring focus:ring-offset-0 focus:ring-white" (click)="handleClick()">
        Predict
      </button>
    </div>
  </form>
</div>
